---
layout: default
---

<style>
  /* --- LAYOUT FOUNDATION --- */
  .wrapper {
    background-color: #f7f2e6; /* Aged Parchment */
    min-height: 100vh;
    overflow-x: hidden;
  }

  .map-box {
    border: 1px solid #ab7f3d;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  }

  .antique-hover:hover {
    transform: translate(-5px);
    transition: transform 0.3s ease;
  }

</style>

{% comment %}
1. INDEX EVERYTHING BY IMAGE_ID: All satellite files.
{% endcomment %}

{% assign man_map = site.data.manifest | group_by: "image_id" %}
{% assign loc_map = site.data.location | group_by: "image_id" %}
{% assign attr_map = site.data.attribution | group_by: "image_id" %}
{% assign plate_map = site.plates | group_by: "image_id" %}
{% assign ref_map = site.data.zotero.references | group_by: "id" %}

{% comment %}
2. LOOKUP DATA FOR THIS SPECIFIC CHAPTER
{% endcomment %}

{% assign target_id = page.image_id | append: "" | strip %}

{% assign man = man_map | where: "name", target_id | map: "items" | first | first %}
{% assign loc = loc_map | where: "name", target_id | map: "items" | first | first %}
{% assign plate = plate_map | where: "name", target_id | map: "items" | first | first %}

<article class="container book-hero col-xxl-8 px-4 py-5">
  <h5 class="small text-muted">Part {{ page.part_number }} - Chapter {{ page.chapter_number }}</h5>
  <h1 class="">{{ page.chapter_title }}</h1>
  <hr class="my-5">

  <div class="">
    {{ content | markdownify }}
  </div>
</article>
